.audio-container {
    display: flex;
    justify-content: center;
  
    .audio-iframe {
      border-radius: 12px;
      max-width: 100px;
    }
  
    .iframe-style {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  