/* Swiper + Carousel styling here */

.mobile-carousel .item-selectors nav {
    margin: 0.5rem 0;
    text-align: center;
  }
  
  /* Shared styles for both carousels */
  
  .homepage-section {
    .partial.mobile-carousel {
      width: 100%;
      overflow: hidden;
    }
  
    .swiper-container {
      width: 100%;
      height: 100%;
      position: relative;
    }
  
    .item-selectors {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .swiper-container .swiper-slide {
      position: relative;
      text-align: center;
      overflow: hidden;
      margin-right: 10px;
  
      &:last-child {
        margin-right: 0;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }
  
    .editors-picks-wrapper .swiper-container .swiper-slide img, .news-section-one-wrapper .swiper-container .swiper-slide img {
      width: 100vw;
      height: 100vw;
      object-fit: cover;
      position: relative;
    }
  
    .you-should-know .swiper-container .swiper-slide {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
        pointer-events: none;
      }
  
      h3 {
        position: absolute;
        width: 50%;
        text-align: left;
        bottom: 80px;
        left: 40px;
        color: #fff;
        margin: 0;
        z-index: 2;
        font-weight: 700;
        font-size: 1.3rem;
      }
  
      p {
        position: absolute;
        width: 60%;
        text-align: left;
        bottom: 40px;
        left: 40px;
        color: #fff;
        margin: 0;
        z-index: 2;
        font-size: 0.7rem;
      }
    }
  
    .swiper-container .swiper-slide {
      h3 {
        width: 90%;
        text-align: left;
        color: black;
        margin: 0.5rem;
        z-index: 2;
        font-weight: 700;
        font-size: 0.8rem;
      }
  
      p {
        display: none;
      }
    }
  
    .you-should-know .swiper-container .swiper-slide p {
      display: block;
    }
  }
  
  #you-should-know-carouselSelectorForm, #editors-picks-carouselSelectorForm, #news-section-one-carouselSelectorForm {
    display: flex;
    justify-content: center;
  }
  
  .mobile-carousel .item-selectors nav {
    input:checked + label {
      background: yellow;
    }
  
    label {
      background: red;
      border-radius: 100%;
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 0.75rem;
      height: 0.75rem;
      margin: 0 0.5rem;
      overflow: hidden;
    }
  
    input[type="radio"] {
      display: none;
    }
  }
  
  .you-should-know-carousel {
    .you-should-know-chevron-left, .you-should-know-chevron-right {
      display: none;
  
      /* Hide the buttons */
    }
  }
  
  .editors-picks-carousel {
    .editors-picks-chevron-left, .editors-picks-chevron-right {
      display: none;
  
      /* Hide the buttons */
    }
  }
  
  .news-section-one-carousel {
    .news-section-one-chevron-left, .news-section-one-chevron-right {
      display: none;
  
      /* Hide the buttons */
    }
  }
  
  .editors-picks-header, .news-section-one-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .section-heading {
    &.editors-picks-header-title, &.news-section-one-header-title {
      margin: 0 1rem;
      text-align: left;
    }
  }
  
  .subscribe-link {
    margin: 1rem 1rem 0 1rem;
  
    /* Adjust as needed */
    color: red;
    text-decoration: underline;
    text-align: right;
  }
  
  @media screen and (min-width: 768px) {
    /* Swiper Sections*/
  
    .homepage-section {
      .editors-picks, .news-section-one {
        padding: 0 1rem;
      }
  
      .editors-picks-wrapper .swiper-container .swiper-slide img, .news-section-one-wrapper .swiper-container .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }
  
    .mobile-carousel {
      .item-selectors nav {
        display: none;
      }
  
      .swiper-container {
        &.you-should-know-carousel .swiper-wrapper .swiper-slide {
          width: 280px;
  
          /* Set the width as needed */
          height: 420px;
  
          /* Set the height as needed */
          box-sizing: border-box;
  
          /* Include border in the width and height */
        }
  
        &.editors-picks-carousel .swiper-wrapper .swiper-slide, &.news-section-one-carousel .swiper-wrapper .swiper-slide {
          width: 336px;
  
          /* Set the width as needed */
          height: 100%;
  
          /* Set the height as needed */
          box-sizing: border-box;
  
          /* Include border in the width and height */
        }
      }
    }
  
    .homepage-section {
      .you-should-know .swiper-container .swiper-slide {
        h3 {
          position: absolute;
          width: 50%;
          text-align: left;
          bottom: 60px;
          left: 30px;
          color: #fff;
          margin: 0;
          z-index: 2;
          font-weight: 700;
          font-size: 15px;
        }
  
        p {
          position: absolute;
          width: 60%;
          text-align: left;
          bottom: 20px;
          left: 30px;
          color: #fff;
          margin: 0;
          z-index: 2;
          font-size: 10px;
        }
      }
  
      .swiper-container .swiper-slide h3 {
        color: black;
  
        /* Text color on the image */
        margin: 0;
  
        /* Remove default margins */
        z-index: 2;
        font-weight: 700;
        font-size: 1rem;
        margin-top: 0.5rem;
        bottom: 40px;
      }
    }
  
    .you-should-know-tablet, .editors-picks-tablet, .news-section-one-tablet {
      position: relative;
      height: 100%;
      overflow: hidden;
      background: linear-gradient(to right, #fff, transparent 10%, transparent 90%, #fff);
    }
  
    .you-should-know-tablet {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background: linear-gradient(to right, #fff, transparent);
        left: 0;
      }
  
      &::after {
        right: 0;
        background: linear-gradient(to right, transparent, #fff);
      }
    }
  
    .you-should-know-tablet-content {
      display: flex;
      overflow-x: auto;
      padding: 20px;
  
      /* Adjust as needed */
  
      article {
        /* Your styles for each article */
        margin-right: 20px;
  
        /* Adjust as needed */
      }
    }
  
    .editors-picks-tablet-content article, .news-section-one-tablet-content article {
      /* Your styles for each article */
      margin-right: 20px;
  
      /* Adjust as needed */
    }
  
    .you-should-know-carousel, .editors-picks-carousel, .news-section-one-carousel {
      position: relative;
    }
  
    .you-should-know-carousel {
      .you-should-know-chevron-left, .you-should-know-chevron-right {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
        color: white;
  
        /* Adjust as needed */
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  
    .editors-picks-carousel {
      .editors-picks-chevron-left, .editors-picks-chevron-right {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
        color: white;
  
        /* Adjust as needed */
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  
    .news-section-one-carousel {
      .news-section-one-chevron-left, .news-section-one-chevron-right {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
        color: white;
  
        /* Adjust as needed */
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  
    .you-should-know-chevron-left, .editors-picks-chevron-left, .news-section-one-chevron-left {
      left: 10px;
    }
  
    .you-should-know-chevron-right, .editors-picks-chevron-right, .news-section-one-chevron-right {
      right: 10px;
    }
  
    .editors-picks-header, .news-section-one-header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1440px;
      margin: 0 auto;
    }
  
    .subscribe-link {
      margin-top: 0;
  
      /* Reset margin for tablet and desktop */
      margin-left: auto;
  
      /* Push the link to the right */
    }
  }
  
  @media screen and (min-width: 1162px) {
    .swiper-wrapper {
      transform: translate3d(0, 0, 0) !important;
    }
  
    /*Swiper Sections*/
  
    .mobile-carousel .swiper-container {
      &.you-should-know-carousel .swiper-wrapper .swiper-slide {
        width: calc((100% - 40px) / 5);
  
        /* Set the width as needed */
        height: 100%;
  
        /* Set the height as needed */
        box-sizing: border-box;
  
        /* Include border in the width and height */
      }
  
      &.news-section-one-carousel {
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 3rem;
  
        .swiper-wrapper {
          display: grid;
          grid-template-columns: 37.5rem 1fr 1fr;
          grid-gap: 1rem 2rem;
  
          .swiper-slide {
            width: 100%;
  
            /* Set the width as needed */
            height: auto;
  
            /* Set the height as needed */
            box-sizing: border-box;
  
            /* Include border in the width and height */
  
            &:first-child {
              grid-row: span 2;
  
              /* Span the first article across two columns */
              width: 100%;
            }
          }
        }
      }
  
      &.editors-picks-carousel .swiper-wrapper .swiper-slide {
        width: calc((100% - 40px) / 4);
  
        /* Set the width as needed */
        height: 100%;
  
        /* Set the height as needed */
        box-sizing: border-box;
      }
    }
  
    .swiper-container {
      width: 100%;
      max-width: 1440px;
    }
  
    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
  
      /* or any other value like space-around or space-evenly */
      align-items: flex-start;
      margin: 0 auto;
  
      /* optional: align items in the center */
    }
  
    .mobile-carousel .swiper-container {
      &.you-should-know-carousel, &.editors-picks-carousel, &.news-section-one-picks-carousel {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
  
        /* Center the container horizontally */
        overflow: hidden;
  
        /* Ensure the container doesn't overflow */
        padding: 0 3rem;
      }
  
      &.you-should-know-carousel {
        max-width: none;
        padding: 0;
      }
    }
  
    .homepage-section {
      .swiper-container .swiper-slide {
        margin: 0;
      }
  
      .you-should-know .swiper-container .swiper-slide {
        h3 {
          position: absolute;
          width: 50%;
          text-align: left;
          bottom: 50px;
          left: 20px;
          color: #fff;
          margin: 0;
          z-index: 2;
          font-weight: 700;
          font-size: 0.7rem;
        }
  
        p {
          position: absolute;
          width: 60%;
          text-align: left;
          bottom: 20px;
          left: 20px;
          color: #fff;
          margin: 0;
          z-index: 2;
          font-size: 0.5rem;
          font-weight: 400;
        }
      }
  
      .news-section-one .swiper-container .swiper-slide {
        h3 {
          color: black;
  
          /* Text color on the image */
          margin: 0;
  
          /* Remove default margins */
          z-index: 2;
          font-weight: 600;
          font-size: 1rem;
        }
  
        &:first-child h3 {
          color: black;
  
          /* Text color on the image */
          margin: 0;
  
          /* Remove default margins */
          z-index: 2;
          font-weight: 600;
          font-size: 2rem;
          margin-top: 0.5rem;
        }
      }
  
      .swiper-container .swiper-slide {
        h3 {
          color: black;
  
          /* Text color on the image */
          margin: 0;
  
          /* Remove default margins */
          z-index: 2;
          font-weight: 700;
          font-size: 1rem;
          margin-top: 0.5rem;
          padding: 1rem 0;
        }
  
        p {
          display: block;
          color: black;
  
          /* Text color on the image */
          margin: 0;
  
          /* Remove default margins */
          font-weight: 400;
          font-size: 1rem;
          z-index: 2;
          text-align: left;
        }
      }
    }
  
    .you-should-know-tablet {
      position: relative;
      height: 100%;
      overflow: hidden;
      background: linear-gradient(to right, #fff, transparent 10%, transparent 90%, #fff);
  
      &::before, &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background: linear-gradient(to right, #fff, transparent);
      }
  
      &::before {
        left: 0;
      }
  
      &::after {
        right: 0;
        background: linear-gradient(to right, transparent, #fff);
      }
    }
  
    .you-should-know-tablet-content, .editors-picks-tablet-content, .news-section-one-content {
      display: flex;
      overflow-x: auto;
      padding: 20px;
  
      /* Adjust as needed */
    }
  
    .you-should-know-tablet-content article, .editors-picks-tablet-content article, .news-section-one-content article {
      /* Your styles for each article */
      margin-right: 20px;
  
      /* Adjust as needed */
    }
  
    .you-should-know-carousel, .editors-picks-carousel, .news-section-one-carousel {
      position: relative;
    }
  
    .you-should-know-carousel {
      .you-should-know-chevron-left, .you-should-know-chevron-right {
        display: none;
  
        /* Hide the chevrons in desktop view */
      }
    }
  
    .editors-picks-carousel {
      .editors-picks-chevron-left, .editors-picks-chevron-right {
        display: none;
  
        /* Hide the chevrons in desktop view */
      }
    }
  
    .news-section-one-carousel {
      .news-section-one-chevron-left, .news-section-one-chevron-right {
        display: none;
  
        /* Hide the chevrons in desktop view */
      }
    }
  }
  