@use "variables" as *;
@use "mixins" as *;

/* featured voices */

.fv-desc {
  font-size: 16px;
}

.featured-voices-list-item-author > a {
  color: $custom-red;
}

/* latest stories */

.latest-stories {
  list-style: none;
}

.latest-stories-item-headline {
  font-size: 18px;
}

.topic {
  @include star-icon();
}

@media screen and (min-width: 768px) {
  /* featured voices */
  #fv-img {
    width: 250px;
  }
  .fv-desc {
    margin-top: 15px;
    width: 500px;
    font-size: 18px;
  }
  .featured-voices-list-item {
    width: 550px;
  }
  .featured-voices-list-item-headline {
    width: 240px;
    font-size: 20px;
  }
  .featured-voices-list-item-author > a {
    color: $custom-red;
  }
  .featured-voices-heading {
    margin: 0;
  }
  .voices-ls {
    display: flex;
    flex-direction: row;
  }
  /* latest-stories */
  .latest-stories-item-timestamp {
    font-size: 14px;
  }
  .latest-stories-heading {
    font-size: 20px;
    padding-left: 10px;
  }
  .latest-stories-item-headline {
    color: white;
    padding: 5px;
  }
  .latest-stories {
    padding-top: 30px;
    max-width: 100%;
    background-color: black;
    color: white;
  }
  .latest-stories-item-headline::before {
    content: "→";
    color: $custom-red;
  }
}

@media screen and (min-width: 1162px) {
  .latest-stories-item-timestamp {
    font-size: 20px;
  }
  .topic {
    font-size: 16px;
  }
  #fv-img {
    width: 400px;
  }
  .fv-desc {
    margin-top: 25px;
    width: 700px;
    font-size: 20px;
  }
  .featured-voices-list-item {
    width: 800px;
  }
  .featured-voices-list-item-headline {
    width: 380px;
    font-size: 20px;
  }
  .featured-voices-list-item-author > a {
    color: $custom-red;
    font-size: 18px;
  }
  .voices-ls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  /* latest-stories */
  .latest-stories {
    border-top: solid 1px rgb(175, 175, 175);
    padding-top: 30px;
    max-width: 600px;
  }
  .latest-stories-heading {
    font-size: 22px;
  }
  .latest-stories-item-headline {
    font-size: 20px;
  }
}
