@use "variables" as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $custom-red;
  color: #fff;
}

#header-logo-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#header-choice {
  display: none;

  > button {
    display: none;
  }
}

#sign-up,
#header-sign-in,
#sign-up {
  display: none;
}

#header-logo {
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

#header-title {
  font-size: 30px;
  margin: 0;
}

#header-subscribe {
  background-color: $custom-yellow;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

@media screen and (min-width: 768px) {
  /* header */

  #header-logo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  #header-choice {
    display: flex;
    flex-direction: row;
    align-items: center;

    > button {
      margin: 20px;
      color: white;
      display: block;
    }
  }

  #sign-up,
  #header-sign-in {
    margin: 20px;
    color: white;
    display: block;
  }

  #header-choice > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    font-size: 18px;
  }

  #sign-up {
    min-width: 160px;
    margin-left: 0;
  }

  #header-logo {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1162px) {
  #header-logo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  #header-choice {
    display: flex;
    flex-direction: row;
    align-items: center;

    > button {
      margin: 20px;
      color: white;
      display: block;
    }
  }

  #sign-up,
  #header-sign-in {
    margin: 20px;
    color: white;
    display: block;
  }

  #header-choice > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    font-size: 22px;
  }

  #sign-up {
    min-width: 200px;
    margin: 0;
  }

  #header-logo {
    margin-right: 10px;
  }

  #header-title {
    font-size: 45px;
  }

  #header-subscribe {
    font-size: 22px;
  }
}
