//font variables here
$font-family-main: "Lato", sans-serif;
$font-family-heading: "Roboto", sans-serif;

//font sizes
$base-font-size: 16px;
$date-size: 15px;

//heading styles
$heading-1: 3rem;
$heading-2: 1.8rem;
$heading-3: 1.6rem;
$heading-4: 1.4rem;

//text styles
$normal-text: 1rem;
$small-text: 0.8rem;
$large-text: 1.3rem;

