*,
:after,
:before,
html {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: block;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(180, 41, 41);
  color: #fff;
  padding: 10px;
  text-align: center;
}

#header-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#header-title {
  font-size: 30px;
  margin: 30px;
}

nav {
  color: black;
  padding: 10px;
  text-align: center;
}

li {
  list-style: none;
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 1440px; /* Adjust as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* Swiper + Carousel styling here */

.mobile-carousel .item-selectors nav {
  margin: 0.5rem 0;
  text-align: center;
}

.you-should-know-carousel {
  width: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.item-selectors {
  text-align: center;
  margin-bottom: 20px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative; /* Position relative for absolutely positioned children */
}

.swiper-slide {
  position: relative;
  text-align: center;
  overflow: hidden; /* Ensure the gradient doesn't overflow */
}

.swiper-slide img {
  width: 100%; /* Make the image fill the width of the container */
  height: 100%; /* Make the image fill the height of the container */
  object-fit: cover; /* Maintain the image's aspect ratio */
  position: relative; /* Ensure the pseudo-element is positioned relative to the image */
}

.swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: calc(100%);
  height: 50%; /* Adjust the height of the gradient overlay */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  pointer-events: none; /* Allow interaction with underlying content */
}

.swiper-slide h3 {
  position: absolute;
  width: 50%;
  text-align: left;
  bottom: 80px; /* Adjust the distance from the bottom as needed */
  left: 40px; /* Adjust the distance from the left as needed */
  color: #fff; /* Text color on the image */
  margin: 0; /* Remove default margins */
  z-index: 2;
  font-weight: 700;
  font-size: 1.3rem;
}

.swiper-slide p {
  position: absolute;
  width: 60%;
  text-align: left;
  bottom: 40px; /* Adjust the distance from the bottom as needed */
  left: 40px; /* Adjust the distance from the left as needed */
  color: #fff; /* Text color on the image */
  margin: 0; /* Remove default margins */
  z-index: 2;
  font-size: 0.7rem;
}

.item-selectors {
  text-align: center;
  margin-bottom: 20px;
}

#carouselSelectorForm {
  display: flex;
  justify-content: center;
}

.mobile-carousel .item-selectors nav input:checked + label {
  background: yellow;
}

.mobile-carousel .item-selectors nav label {
  background: red;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.5rem;
  overflow: hidden;
}

.mobile-carousel .item-selectors nav input[type="radio"] {
  display: none;
}

.you-should-know-chevron-left,
.you-should-know-chevron-right {
  display: none; /* Hide the buttons */
}

/* Tablet view (768px and above) */
@media screen and (min-width: 768px) {
  .mobile-carousel .item-selectors nav {
    display: none;
  }

  .mobile-carousel
    .swiper-container.you-should-know-carousel
    .swiper-wrapper
    .swiper-slide {
    width: 280px; /* Set the width as needed */
    height: 420px; /* Set the height as needed */
    box-sizing: border-box; /* Include border in the width and height */
  }

  .swiper-slide h3 {
    position: absolute;
    bottom: 60px; /* Adjust the distance from the bottom as needed */
    left: 30px; /* Adjust the distance from the left as needed */
    color: #fff; /* Text color on the image */
    margin: 0; /* Remove default margins */
    z-index: 2;
    font-weight: 900;
  }

  .swiper-slide p {
    position: absolute;
    bottom: 40px; /* Adjust the distance from the bottom as needed */
    left: 30px; /* Adjust the distance from the left as needed */
    color: #fff; /* Text color on the image */
    margin: 0; /* Remove default margins */
    z-index: 2;
  }

  .you-should-know-tablet {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
      to right,
      #fff,
      transparent 10%,
      transparent 90%,
      #fff
    );
  }

  .you-should-know-tablet::before,
  .you-should-know-tablet::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, #fff, transparent);
  }

  .you-should-know-tablet::before {
    left: 0;
  }

  .you-should-know-tablet::after {
    right: 0;
    background: linear-gradient(to right, transparent, #fff);
  }

  .you-should-know-tablet-content {
    display: flex;
    overflow-x: auto;
    padding: 20px; /* Adjust as needed */
  }

  .you-should-know-tablet-content article {
    /* Your styles for each article */
    margin-right: 20px; /* Adjust as needed */
  }

  .you-should-know-carousel {
    position: relative;
  }

  .you-should-know-chevron-left,
  .you-should-know-chevron-right {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: white; /* Adjust as needed */
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .you-should-know-chevron-left {
    left: 10px;
  }

  .you-should-know-chevron-right {
    right: 10px;
  }
}

@media screen and (min-width: 1162px) {
  .mobile-carousel {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  .swiper-container.you-should-know-carousel .swiper-wrapper .swiper-slide {
    max-width: 1440px;
    width: 100vw;
    margin-right: 20px; /* Margin between articles */
    box-sizing: border-box;
  }

  .you-should-know-carousel {
    position: relative;
    overflow: hidden;
  }

  .you-should-know-carousel .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease; /* Smooth transition on slide change */
  }

  .you-should-know-chevron-left,
  .you-should-know-chevron-right {
    display: none; /* Hide the chevrons in desktop view */
  }
}

article {
  margin-bottom: 30px;
}

/* top section */
.image-container {
  text-align: right;
  margin-bottom: 20px;
}

.feature > .slide > .image-container > a > img {
  width: 425px;
  height: auto;
  max-width: 100%;
}

.feature > .slide > .headline {
  background-color: black;
  color: white;
}

.feature-title {
  color: rgb(255, 230, 146);
  margin-bottom: 40px;
  font-size: 20px;
}

.fig-credit {
  font-size: 12px;
}

.headline {
  padding: 15px;
  margin: 0;
}

.secondary-title {
  font-weight: bolder;
}

.secondary > .slide > .headline {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bolder;
}

.secondary > .slide > .image-container > a > img {
  width: 425px;
  height: auto;
}

.most-popular-feed-item-container {
  list-style: none;
}

.most-popular-feed-item-section {
  color: rgb(197, 19, 19);
  font-weight: bolder;
  font-size: 20px;
}

.most-popular-feed-item-index {
  color: white;
  background-color: black;
  padding: 10px;
  margin-bottom: px;
  font-size: 14px;
  margin-right: 5px;
}

.most-popular-feed-item {
  line-height: 50px;
}

/* featured voices */
.featured-voices-list-item > img {
  width: 400px;
  height: auto;
}

/* latest stories */
.latest-stories-heading {
  margin-left: 20px;
}

.latest-stories {
  list-style: none;
}

/* Desktop Styles (768px and above) */
@media screen and (min-width: 768px) {
  .fig-credit {
    font-size: 18px;
    margin-top: 0;
  }

  .feature > .slide > .headline {
    width: 1100px;
  }

  #feature-img {
    width: 1440px;
  }

  .secondary > .slide > .image-container > a > img {
    width: 350px;
    height: auto;
  }

  .feature-flex {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .featured-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .secondary > .slide > .headline {
    font-size: 15px;
    width: 355px;
  }

  .secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature {
    display: flex;
    flex-direction: column;
  }

  .feature .slide img {
    max-width: 100%;
  }

  .most-popular-feed-wrapper {
    max-width: 100%;
  }

  .most-popular-feed-head {
    text-align: center;
    margin-top: 0;
  }

  .most-popular-feed-item-section {
    font-size: 14px;
  }

  .most-popular-feed-item {
    padding-left: 0;
  }

  /* featured voices */
  .featured-voices-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .featured-voices-list-item > p {
    width: 250px;
    font-size: 20px;
  }

  .featured-voices-list-item-headline {
    font-size: 20px;
    width: 230px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .featured-voices-list-item-author {
    margin-top: 5px;
  }

  .featured-voices-list-item-author > a {
    color: rgb(208, 12, 12);
    font-size: 16px;
  }

  .featured-voices-list-item > img {
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .expanded {
    max-height: none;
  }

  .featured-voices-heading {
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
  }

  .voices-ls {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 50px;
    padding: 20px;
  }

  .voices-list {
    display: flex;
    flex-direction: row;
  }

  /* latest stories */
  .latest-stories-heading {
    margin-left: 18px;
    font-size: 22px;
  }

  .latest-stories-item-headline {
    color: white;
  }

  .latest-stories-item-headline::before {
    content: "\2192"; /* Unicode arrow character */
    display: inline-block;
    margin-right: 5px;
    color: rgb(180, 41, 41);
  }

  .latest-stories {
    background-color: black;
    color: white;
    padding: 20px;
  }
  .latest-stories-heading {
    font-size: 25px;
  }
}

@media screen and (min-width: 1162px) {
  .feature-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

/* subscribe */
.mag-subs-item-list > li::before {
  content: "\2B50"; /* Unicode code point for the bell */
  font-family: "Arial", sans-serif;
  font-size: 15px;
  margin-right: 10px;
}

.mag-subs-inner {
  font-size: 18px;
}

.mag-subs-inner > .content {
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.btn {
  color: white;
  font-size: 18px;
}

.subscribe-desc {
  font-size: 20px;
}

.mag-subs {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

/* Hamburger Nav Bar Styling  */
.hamburger {
  display: block;
}
/* Styling for menu icon */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  margin-left: 20px;
  background-color: rgb(40, 40, 40);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*  Transformation for the 3 lines to turn into an x */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* Styling for the nav menu */
.nav-menu {
  position: fixed;
  left: -100%;
  top: 151px;
  height: 400px;
  gap: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  /* width: 80%; */
  text-align: center;
  transition: 0.5s;
  /* border: 1px solid #dcdcdc; */
}
li {
  padding: 10px;
}
.nav-menu.active {
  margin-top: 5px;
  left: 0;
  background-color: white;
}
.nav-buttons {
  margin-top: 40px;
  padding: 20px;
}
#sign-in {
  background-color: black;
  color: white;
}
#subscribe {
  background-color: rgb(217, 69, 61);
  color: white;
}
.nav-buttons > button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /* height: 32px; */
  width: 115px;
  text-align: center;
}
ul {
  padding-inline-start: 10px;
}

/* End Hamburger Nav Bar Styling */
