*,
:after,
:before,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: block;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(180, 41, 41);
  color: #fff;
}

#header-logo-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#header-choice {
  display: none;
}

#header-choice > button,
#sign-up,
#header-sign-in {
  display: none;
}

#sign-up {
  display: none;
}

#header-logo {
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

#header-title {
  font-size: 30px;
  margin: 0;
}

nav {
  color: black;
  padding: 10px;
  text-align: center;
}

li {
  list-style: none;
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0 auto; /* Center the container horizontally */
}

.homepage-section {
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: black;
}

.section-heading {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.you-should-know {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Swiper + Carousel styling here */
.mobile-carousel .item-selectors nav {
  margin: 0.5rem 0;
  text-align: center;
}

/* Shared styles for both carousels */
.homepage-section .partial.mobile-carousel {
  width: 100%;
  overflow: hidden;
}

.homepage-section .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.homepage-section .item-selectors {
  text-align: center;
  margin-bottom: 20px;
}

.homepage-section .swiper-container .swiper-slide {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-right: 10px;
}

.homepage-section .swiper-container .swiper-slide:last-child {
  margin-right: 0;
}

.homepage-section .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.homepage-section .editors-picks-wrapper .swiper-container .swiper-slide img,
.homepage-section
  .news-section-one-wrapper
  .swiper-container
  .swiper-slide
  img {
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  position: relative;
}

.homepage-section .you-should-know .swiper-container .swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: calc(100%);
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  pointer-events: none;
}

.homepage-section .you-should-know .swiper-container .swiper-slide h3 {
  position: absolute;
  width: 50%;
  text-align: left;
  bottom: 80px;
  left: 40px;
  color: #fff;
  margin: 0;
  z-index: 2;
  font-weight: 700;
  font-size: 1.3rem;
}

.homepage-section .you-should-know .swiper-container .swiper-slide p {
  position: absolute;
  width: 60%;
  text-align: left;
  bottom: 40px;
  left: 40px;
  color: #fff;
  margin: 0;
  z-index: 2;
  font-size: 0.7rem;
}

.homepage-section .swiper-container .swiper-slide h3 {
  width: 90%;
  text-align: left;
  color: black;
  margin: 0.5rem;
  z-index: 2;
  font-weight: 700;
  font-size: 0.8rem;
}

.homepage-section .swiper-container .swiper-slide p {
  display: none;
}

.homepage-section .you-should-know .swiper-container .swiper-slide p {
  display: block;
}

#you-should-know-carouselSelectorForm,
#editors-picks-carouselSelectorForm,
#news-section-one-carouselSelectorForm {
  display: flex;
  justify-content: center;
}

.mobile-carousel .item-selectors nav input:checked + label {
  background: yellow;
}

.mobile-carousel .item-selectors nav label {
  background: red;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.5rem;
  overflow: hidden;
}

.mobile-carousel .item-selectors nav input[type="radio"] {
  display: none;
}

.you-should-know-carousel .you-should-know-chevron-left,
.you-should-know-carousel .you-should-know-chevron-right,
.editors-picks-carousel .editors-picks-chevron-left,
.editors-picks-carousel .editors-picks-chevron-right,
.news-section-one-carousel .news-section-one-chevron-left,
.news-section-one-carousel .news-section-one-chevron-right {
  display: none; /* Hide the buttons */
}

article {
  margin-bottom: 30px;
}

.editors-picks-header,
.news-section-one-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-heading.editors-picks-header-title,
.section-heading.news-section-one-header-title {
  margin: 0 1rem;
  text-align: left;
}

.subscribe-link {
  margin: 1rem 1rem 0 1rem; /* Adjust as needed */
  color: red;
  text-decoration: underline;
  text-align: right;
}

/* top section */
.featured-section {
  padding-top: 0;
}

.topic {
  font-size: 11px;
  margin-right: 15px;
}

.topic::before {
  content: "★";

  padding: 5px;
  color: rgb(243, 219, 81);
}

#feature-img-container {
  position: relative;
  max-width: 100%;
}

#feature-img {
  height: auto;
  max-width: 100%;
  display: block;
}

.fig-credit {
  position: absolute;
  bottom: 0;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

#feature-date {
  padding: 0;
  color: rgb(255, 103, 103);
}

.feature-headline {
  background-color: black;
  color: white;
  padding: 20px;
}

.feature-title {
  color: rgb(255, 230, 146);
  margin-bottom: 40px;
  font-size: 20px;
}

.headline {
  padding: 15px;
  margin: 0;
}

.secondary-title {
  font-weight: bolder;
  font-size: 20px;
}

.secondary-headline {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-weight: bold;
}

.secondary-img {
  max-width: 100%;
  /* width: 320px; */
  height: auto;
}

.latest-stories-heading {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.most-popular-feed-item-container {
  list-style: none;
}

.most-popular-feed-item-section {
  color: rgb(197, 19, 19);
  font-weight: bold;
  font-size: 18px;
}

.most-popular-feed-head {
  font-size: 20px;
}

.most-popular-feed-item-index {
  color: white;
  background-color: black;
  padding: 10px;
  margin-bottom: px;
  font-size: 14px;
  margin-right: 5px;
}

.most-popular-feed-item {
  line-height: 50px;
}

.most-popular-feed-item-headline {
  font-size: 18px;
}

.most-popular-feed {
  display: flex;
  justify-content: center;
}

/* featured voices */
.fv-desc {
  font-size: 16px;
}

.featured-voices-list-item-author > a {
  color: rgb(193, 14, 14);
}

/* latest stories */
.latest-stories {
  list-style: none;
}

.latest-stories-item-headline {
  font-size: 18px;
}

/* subscribe */
#subscribe-img {
  /* width: 320px; */
  max-width: 100%;
  height: auto;
}

.mag-subs {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.mag-subs-inner > .content {
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

#sub-btn {
  color: black;
  font-size: 18px;
  background-color: rgb(255, 213, 0);
}

.mag-subs-item-list {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 30px;
}

.mag-subs-item-list > li,
.subscribe-desc {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#sub-link {
  color: white;
}

.mag-subs-inner {
  padding-top: 30px;
  /* background-color: rgb(180, 41, 41); */
  color: white;
  background: linear-gradient(-120deg, #d62121, #c72c2c, #3a1111);
}

/* Hamburger Nav Bar Styling  */
.hamburger {
  display: block;
}
/* Styling for menu icon */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  margin-left: 20px;
  background-color: rgb(40, 40, 40);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*  Transformation for the 3 lines to turn into an x */
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* Styling for nav search bar */
#searchbar {
  font-style: italic;
  border: none;
}

.searchbar-container {
  position: fixed;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  width: 275px;
}

.searchbar-container.active {
  transform: translateX(0);
  position: absolute;
}

#searchbar:focus {
  border: 1px solid white;
}

.nav-menu {
  position: absolute;
  left: -100%;
  top: 15px;
  height: 74rem;
  gap: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  text-align: center;
  transition: 0.5s;
  margin-top: 25px;
}
li {
  padding: 10px;
  font-size: 0.85rem;
}
.nav-menu.active {
  margin-top: 25px;
  left: 0;
  background-color: white;
}
/* Nav button styling */
.nav-buttons {
  margin-top: 6px;
  padding: 20px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}
#sign-in {
  background-color: black;
  color: white;
}
#subscribe {
  background-color: rgb(217, 69, 61);
  color: white;
}
.nav-buttons > button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  /* height: 32px; */
  width: 115px;
  text-align: center;
}
/* Override default inline padding */
ul {
  padding-inline-start: 0px;
}
/* Nav menu headings */
.nav-menu > span {
  margin-left: 10px;
  margin-top: 10px;
  /* font-weight: 900; */
}
.connect-with-us {
  padding-top: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 0.5px solid black;
}
.connect-with-us > div {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
}
.connect-with-us > span {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}
/* Only visible for tablet and desktop views */
#searchbar-icon {
  display: none;
}
/* End Hamburger Nav Bar Styling */

/* Begin footer styling  */
#footer-logo {
  width: 150px;
  border-radius: 50%;
}
.footer-images {
  display: flex;
  justify-content: center;
}
.socials {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.socials > svg {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 20px;
}
#footer-copyright {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer-nav > section {
  margin-top: 10px;
}

/* video styles  */
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.main-video,
.suggested-videos {
  width: calc(100% - 40px);
  margin: 20px;
}

iframe {
  width: 100%;
  height: auto;
}

.suggested-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* add this line to allow the videos to wrap onto the next line if there isn't enough space */
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: calc((100% - 60px) / 3);
}

.thumbnail {
  width: 100%;
  height: 100%;
  background: #555;
  margin-bottom: 10px;
}

.player-title {
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
}

.vdo-description {
  padding: 10px;
  font-size: 16px;
}

.date-and-duration {
  padding: 10px;
}

.playlist-heading {
  padding: 10px;
}

/* Tablet view (768px and above) */
@media screen and (min-width: 768px) {
  /* header */
  #header-logo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  #header-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #header-choice > button,
  #sign-up,
  #header-sign-in {
    margin: 20px;
    color: white;
    display: block;
  }

  #header-choice > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    font-size: 18px;
  }

  #sign-up {
    min-width: 160px;
    margin-left: 0;
  }

  #header-logo {
    margin-right: 10px;
  }

  /* Swiper Sections*/

  .homepage-section .editors-picks,
  .homepage-section .news-section-one {
    padding: 0 1rem;
  }

  .homepage-section .editors-picks-wrapper .swiper-container .swiper-slide img,
  .homepage-section
    .news-section-one-wrapper
    .swiper-container
    .swiper-slide
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .mobile-carousel .item-selectors nav {
    display: none;
  }

  .mobile-carousel
    .swiper-container.you-should-know-carousel
    .swiper-wrapper
    .swiper-slide {
    width: 280px; /* Set the width as needed */
    height: 420px; /* Set the height as needed */
    box-sizing: border-box; /* Include border in the width and height */
  }

  .mobile-carousel
    .swiper-container.editors-picks-carousel
    .swiper-wrapper
    .swiper-slide,
  .mobile-carousel
    .swiper-container.news-section-one-carousel
    .swiper-wrapper
    .swiper-slide {
    width: 336px; /* Set the width as needed */
    height: 100%; /* Set the height as needed */
    box-sizing: border-box; /* Include border in the width and height */
  }

  .homepage-section .you-should-know .swiper-container .swiper-slide h3 {
    position: absolute;
    width: 50%;
    text-align: left;
    bottom: 60px;
    left: 30px;
    color: #fff;
    margin: 0;
    z-index: 2;
    font-weight: 700;
    font-size: 15px;
  }

  .homepage-section .you-should-know .swiper-container .swiper-slide p {
    position: absolute;
    width: 60%;
    text-align: left;
    bottom: 20px;
    left: 30px;
    color: #fff;
    margin: 0;
    z-index: 2;
    font-size: 10px;
  }

  .homepage-section .swiper-container .swiper-slide h3 {
    color: black; /* Text color on the image */
    margin: 0; /* Remove default margins */
    z-index: 2;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.5rem;
    bottom: 40px;
  }

  .you-should-know-tablet,
  .editors-picks-tablet,
  .news-section-one-tablet {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
      to right,
      #fff,
      transparent 10%,
      transparent 90%,
      #fff
    );
  }

  .you-should-know-tablet::before {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, #fff, transparent);
  }

  .you-should-know-tablet::before {
    left: 0;
  }

  .you-should-know-tablet::after {
    right: 0;
    background: linear-gradient(to right, transparent, #fff);
  }

  .you-should-know-tablet-content {
    display: flex;
    overflow-x: auto;
    padding: 20px; /* Adjust as needed */
  }

  .you-should-know-tablet-content article,
  .editors-picks-tablet-content article,
  .news-section-one-tablet-content article {
    /* Your styles for each article */
    margin-right: 20px; /* Adjust as needed */
  }

  .you-should-know-carousel,
  .editors-picks-carousel,
  .news-section-one-carousel {
    position: relative;
  }

  .you-should-know-carousel .you-should-know-chevron-left,
  .you-should-know-carousel .you-should-know-chevron-right,
  .editors-picks-carousel .editors-picks-chevron-left,
  .editors-picks-carousel .editors-picks-chevron-right,
  .news-section-one-carousel .news-section-one-chevron-left,
  .news-section-one-carousel .news-section-one-chevron-right {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: white; /* Adjust as needed */
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .you-should-know-chevron-left,
  .editors-picks-chevron-left,
  .news-section-one-chevron-left {
    left: 10px;
  }

  .you-should-know-chevron-right,
  .editors-picks-chevron-right,
  .news-section-one-chevron-right {
    right: 10px;
  }

  .editors-picks-header,
  .news-section-one-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }

  .subscribe-link {
    margin-top: 0; /* Reset margin for tablet and desktop */
    margin-left: auto; /* Push the link to the right */
  }

  /*Mags Screen*/
  .mag-subs-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
  }

  .mag-subs-inner > .content {
    margin-top: 30px;
    margin: 0 auto;
  }

  #subscribe-img {
    width: 400px;
    height: 400px;
    margin-left: 15px;
  }

  .mag-subs-item-list {
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 30px;
  }

  .mag-subs-item-list > li {
    font-size: 16px;
  }

  .subscribe-desc {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    font-size: 18px;
  }

  /*feature section*/
  #feature-img {
    max-width: 100%;
  }

  .published-date {
    padding: 10px;
  }

  .secondary-img {
    max-width: 100%;
    padding: 10px;
  }

  .secondary-headline {
    max-width: 300px;
  }

  .secondary-title {
    font-size: 16px;
    padding: 10px;
  }

  .secondary {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
  }

  /* featured voices */
  #fv-img {
    width: 250px;
  }

  .fv-desc {
    margin-top: 15px;
    width: 500px;
    font-size: 18px;
  }

  .featured-voices-list-item {
    width: 550px;
  }

  .featured-voices-list-item-headline {
    width: 240px;
    font-size: 20px;
  }

  .featured-voices-list-item-author > a {
    color: rgb(187, 13, 13);
  }

  .featured-voices-heading {
    margin: 0;
  }

  .voices-ls {
    display: flex;
    flex-direction: row;
  }

  /* latest-stories */
  .latest-stories-heading {
    font-size: 20px;
    padding-left: 10px;
  }
  .latest-stories-item-headline {
    color: white;
    padding: 5px;
  }

  .latest-stories {
    padding-top: 30px;
    /* max-width: 250px; */
    max-width: 100%;
    background-color: black;
    color: white;
  }

  .latest-stories-item-headline::before {
    content: "\2192";
    color: rgb(235, 41, 41);
  }

  .searchbar-container {
    /* margin-right: 150px; */
    width: 400px;
  }
  #searchbar {
    width: 300px;
  }
  #searchbar-icon {
    display: block;
    margin-right: 25px;
    /* transition: 0.5s ease-in; */
  }
  #searchbar-icon > svg {
    height: 18px;
    width: 18px;
  }
  #searchbar-icon.inactive {
    display: none;
    /* transition: 0.5s ease-out; */
  }

  /* video */
  .vdo-description,
  .date-and-duration,
  .playlist-heading {
    padding: 40px;
    font-size: 18px;
  }

  /* audio  */
  .audio-container {
    display: flex;
    justify-content: center;
  }

  .audio-iframe {
    border-radius: 12px;
    max-width: 100px;
  }

  .iframe-style {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (min-width: 1162px) {
  /* header */
  /* header */
  #header-logo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  #header-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #header-choice > button,
  #sign-up,
  #header-sign-in {
    margin: 20px;
    color: white;
    display: block;
  }

  #header-choice > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    font-size: 22px;
  }

  #sign-up {
    min-width: 200px;
    margin: 0;
  }

  #header-logo {
    margin-right: 10px;
  }

  #header-title {
    font-size: 45px;
  }

  #header-subscribe {
    font-size: 22px;
  }

  /*Swiper Sections*/

  .mobile-carousel
    .swiper-container.you-should-know-carousel
    .swiper-wrapper
    .swiper-slide {
    width: calc((100% - 40px) / 5); /* Set the width as needed */
    height: 100%; /* Set the height as needed */
    box-sizing: border-box; /* Include border in the width and height */
  }

  .mobile-carousel .swiper-container.news-section-one-carousel {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 3rem;
  }

  .mobile-carousel .swiper-container.news-section-one-carousel .swiper-wrapper {
    display: grid;
    grid-template-columns: 37.5rem 1fr 1fr;
    grid-gap: 1rem 2rem;
  }

  .mobile-carousel
    .swiper-container.news-section-one-carousel
    .swiper-wrapper
    .swiper-slide {
    width: 100%; /* Set the width as needed */
    height: auto; /* Set the height as needed */
    box-sizing: border-box; /* Include border in the width and height */
  }

  .mobile-carousel
    .swiper-container.news-section-one-carousel
    .swiper-wrapper
    .swiper-slide:first-child {
    grid-row: span 2; /* Span the first article across two columns */
    width: 100%;
  }

  .mobile-carousel
    .swiper-container.editors-picks-carousel
    .swiper-wrapper
    .swiper-slide {
    width: calc((100% - 40px) / 4); /* Set the width as needed */
    height: 100%; /* Set the height as needed */
    box-sizing: border-box;
  }

  .swiper-container {
    width: 100%;
    max-width: 1440px;
  }

  .swiper-wrapper {
    display: flex;
    justify-content: space-between; /* or any other value like space-around or space-evenly */
    align-items: flex-start;
    margin: 0 auto; /* optional: align items in the center */
  }

  .mobile-carousel .swiper-container.you-should-know-carousel,
  .mobile-carousel .swiper-container.editors-picks-carousel,
  .mobile-carousel .swiper-container.news-section-one-picks-carousel {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Ensure the container doesn't overflow */
    padding: 0 3rem;
  }

  .mobile-carousel .swiper-container.you-should-know-carousel {
    max-width: none;
    padding: 0;
  }

  .homepage-section .swiper-container .swiper-slide {
    margin: 0;
  }

  .homepage-section .you-should-know .swiper-container .swiper-slide h3 {
    position: absolute;
    width: 50%;
    text-align: left;
    bottom: 50px;
    left: 20px;
    color: #fff;
    margin: 0;
    z-index: 2;
    font-weight: 700;
    font-size: 0.7rem;
  }

  .homepage-section .you-should-know .swiper-container .swiper-slide p {
    position: absolute;
    width: 60%;
    text-align: left;
    bottom: 20px;
    left: 20px;
    color: #fff;
    margin: 0;
    z-index: 2;
    font-size: 0.5rem;
    font-weight: 400;
  }

  .homepage-section .news-section-one .swiper-container .swiper-slide h3 {
    color: black; /* Text color on the image */
    margin: 0; /* Remove default margins */
    z-index: 2;
    font-weight: 600;
    font-size: 1rem;
  }

  .homepage-section
    .news-section-one
    .swiper-container
    .swiper-slide:first-child
    h3 {
    color: black; /* Text color on the image */
    margin: 0; /* Remove default margins */
    z-index: 2;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .homepage-section .swiper-container .swiper-slide h3 {
    color: black; /* Text color on the image */
    margin: 0; /* Remove default margins */
    z-index: 2;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 1rem 0;
  }

  .homepage-section .swiper-container .swiper-slide p {
    display: block;
    color: black; /* Text color on the image */
    margin: 0; /* Remove default margins */
    font-weight: 400;
    font-size: 1rem;
    z-index: 2;
    text-align: left;
  }

  .you-should-know-tablet {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(
      to right,
      #fff,
      transparent 10%,
      transparent 90%,
      #fff
    );
  }

  .you-should-know-tablet::before,
  .you-should-know-tablet::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, #fff, transparent);
  }

  .you-should-know-tablet::before {
    left: 0;
  }

  .you-should-know-tablet::after {
    right: 0;
    background: linear-gradient(to right, transparent, #fff);
  }

  .you-should-know-tablet-content,
  .editors-picks-tablet-content,
  .news-section-one-content {
    display: flex;
    overflow-x: auto;
    padding: 20px; /* Adjust as needed */
  }

  .you-should-know-tablet-content article,
  .editors-picks-tablet-content article,
  .news-section-one-content article {
    /* Your styles for each article */
    margin-right: 20px; /* Adjust as needed */
  }

  .you-should-know-carousel,
  .editors-picks-carousel,
  .news-section-one-carousel {
    position: relative;
  }

  .you-should-know-carousel .you-should-know-chevron-left,
  .you-should-know-carousel .you-should-know-chevron-right,
  .editors-picks-carousel .editors-picks-chevron-left,
  .editors-picks-carousel .editors-picks-chevron-right,
  .news-section-one-carousel .news-section-one-chevron-left,
  .news-section-one-carousel .news-section-one-chevron-right {
    display: none; /* Hide the chevrons in desktop view */
  }

  /*Mags Screen*/
  .mag-subs-item-list,
  .subscribe-desc,
  #sub-btn {
    font-size: 25px;
  }

  #subscribe-img {
    width: 460px;
    height: 460px;
    margin-left: 15px;
  }

  /*Feature*/

  .feature-flex {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .featured-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  #feature-img {
    width: 100%;
  }

  .image-container {
    max-width: 1100px;
  }
  .feature-title {
    font-size: 25px;
  }

  .feature-headline {
    max-width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  .secondary-img {
    max-width: 100%;
    padding: 10px;
  }

  .secondary {
    display: flex;
    flex-direction: row;
    /* max-width: 600px; */
  }

  .secondary-title {
    font-size: 18px;
    width: 250px;
  }

  /* featured-voices */
  #fv-img {
    width: 400px;
  }

  .fv-desc {
    margin-top: 25px;
    width: 700px;
    font-size: 20px;
  }

  .featured-voices-list-item {
    width: 800px;
  }

  .featured-voices-list-item-headline {
    width: 380px;
    font-size: 20px;
  }

  .featured-voices-list-item-author > a {
    color: rgb(187, 13, 13);
    font-size: 18px;
  }

  .voices-ls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }

  /* latest-stories */
  .latest-stories {
    border-top: solid 1px rgb(175, 175, 175);
    padding-top: 30px;
    max-width: 600px;
  }

  .latest-stories-heading {
    font-size: 22px;
  }

  .latest-stories-item-headline {
    font-size: 20px;
  }

  /* video */
  .vdo-description,
  .date-and-duration,
  .playlist-heading {
    padding: 60px;
    font-size: 20px;
  }
  .footer-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  iframe {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .secondary-img {
    padding: 10px;
    max-width: 100%;
  }
  /* searchbar styling */
  .searchbar-container svg {
    height: 18px;
    width: 18px;
  }
  .searchbar-container > label {
    width: 24px;
  }
}

/* anime */

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* Apply animation to the button */
#header-subscribe:hover {
  animation: wiggle 2s linear infinite;
}
